/* TAGOVETE V HTML MOJE DA IMAT POVE4E OT EDIN CLASS */

.red{
	color:blue;

}
.blue{
	font-family: italic;

}

.green{
	font-family: 'Arial';

}

/*Vsi4ki p-ta koito se namirat v li-ta */
li p{

	color:red;
}



body{
	background: #333;
}

td, p{

	background: orange;
	font-size: 20px;
	font-style: italic;
}

.kartinka{
	border:1px solid black;
}

/* za VSI4KI li-ta koito imat class="sol" */
li.sol {

	color: blue;

}

/* moje danapravim i slednoto:
li.sol, td{

	disply:none;
	
}
tova se otnasq:;
Za vsi4ki li-ta koito imat class="sol" i za vsi4ki td tagove
*/