*{
	padding: 0px;
	margin: 0px;

}

body{

	font-family: 'Arial', sans-serif;
	font-size: 15px;

}

img{
	width: 200px;
	height: 150px;
	border: 1px solid black;
}


#header{
	padding: 20px;
	height: 20px;
	background: #ccc;
	color: #fff;

	

}




#header ul li{
	float: left;
	list-style: none;
	margin-right: 10px;

}

#content{
	
	background: #ccc;
}

.left{
	float: left;
	width: 29%;
	border: 1px solid black;

}

.right{
	float: left;
	width: 70%;
}


#footer{
	background: #ccc;
	height: 100px;
}

#footer p{
	text-align: center;
	padding-top: 30px;
}