*{
	padding: 0px;
	margin: 0px;
}

body#third-page{

	background: #fff;

}

#first-page{
	background: #993333;
}

#second-page{
	background: #339933;
}

header{
	
	line-height: 1.6em;
	padding: 5px;
	text-align: center;
	margin:auto;
	overflow:auto;
	min-height:55px;
	

}

header h1{
	text-align: center;
}

nav{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;		
	float: right;
	width:15%;

}

nav ul{
	float:right;
}


nav a{
	cursor: pointer;
	color: #333;
	padding-bottom:10px;
	 text-decoration: none;
}

nav a:hover{
	color: #9966CC;
}

nav li{
	list-style:none;
	float:left;
	padding:0 10px;
	border-right: 1px solid black;
}

section{
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	font-family: 'Arial', sans-serif;
}

section h3{

	margin-bottom: 20px;
}

section p{
	margin-bottom:20px;
}


.table {
    border-collapse: collapse;
    color: #663399;
}

.table, th, td {
    border: 1px solid black;
    padding: 5px;
}

.bmw{
	border: 1px solid black;
}

footer{
	padding: 10px;
	font-family: "Courier New", sans-serif;
	background: #333399;
}

footer p{
	text-align: center;
}