*{
	padding: 0px;
	margin: 0px;
}

header{
	width: 100%;
	height: 30px;
	background: #333;
	line-height: 1.2em;
	font-family: 'Arial', sans-serif;	
	font-size: 15px;
	text-align: center;
	color: #fff;
	padding-top: 10px;

}

header{
	
	
	padding: 0px;
	height: 35px;
	color: #fff;
	background: #996666;
	box-sizing: border-box;

}

header a {
	color: #fff;
	text-decoration: none;
	width: 100%;

}



nav{
	float: right;
	height: 35px;
	margin: auto;
	overflow: auto;
	width: 100%;
	box-sizing: border-box;
	text-align: right;
}

nav ul{
	height: 30px;
	display: inline;
	
}

nav li{

	
	list-style: none;
	display: inline-block;
	padding-right: 20px;
	padding-top: 15px;

}

.main-reg{
	min-height: 40%;
}


nav li a:hover{
	
	color: #990099;
}

nav ul ul{

	display: none;
	background: #333;
	width: 9%;
	min-height: 20%;
	position: absolute;
	z-index: 200;
	top: 33px;
	border-radius: 5px;


}

nav ul ul li{

	float: none;
	display: block;
	text-align: left;


}




nav li:hover ul{
	display: block;

}

.reg{
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0px;
	width: 100px;
}

#no-reg{
	color: #000099;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	float: left;
	width: 40%;
	margin: 5px 10px;

}
#button{
	float: left;
	border-radius: 5px;
	padding: 3px;
	background: #003366;
	color: #fff;
	cursor: pointer;


}

.arr{
	color: #333;
}

img{
	width: 300px;
	position: relative;
	left: 30%;
	right: 30%;


}

.left{
	width: 30%;
	background: #000;
	color: #fff;
	float: left;	
	min-height: 550px;
}

.right{
	width: 70%;
	background: #999;
	color: blue;
	float: left;
	min-height: 550px;
}

.side-nav{
	margin-top: 20px;
	width: 80px;
	float: right;
	background: green;
	height: 100%;
	


}
.side-nav ul li{
	list-style: none;
	margin: 10px 10px; 
}


.center{
	text-align: center;
	color: orange;
}


footer{
	clear: both;
	width: 100%;
	min-height: 30px;
	background: #333;
	line-height: 1.2em;
	font-family: 'Arial', sans-serif;	
	font-size: 15px;
	text-align: center;
	color: #fff;
	padding-top: 10px;


}

